NODE_ENV='development'

ADMIN_EMAIL=''

DATABASE_URL=''

IMAGEKIT_ID=''

IMAGEKIT_URL_ENDPOINT=''

IMAGEKIT_PRIVATE_KEY='='

UPSTASH_REDIS_REST_URL=""

UPSTASH_REDIS_REST_TOKEN=""

NEXTAUTH_URL=''

NEXTAUTH_SECRET=''

GOOGLE_CLIENT_ID=''

GOOGLE_CLIENT_SECRET=''

GITHUB_ID=''

GITHUB_SECRET=''

JWT_ACCESS_SECRET=''

JWT_REFRESH_SECRET=''

CRYPTO_SECRET=''

DOWNLOADER_HASH_SECRET=''
